<div class="container">
    <img src="favicon.ico" class="center"alt="">
</div>
<form align="center"width="40%">
    <h1 align="center"> User Register</h1>
    <hr>
    <div>
        <label for="fname">First Name</label><pre></pre>
        <input type="text" class="uipt" name="fname" placeholder="enter First name" required><pre></pre>
    </div>

    <div>
        <label for="lname">Last Name</label><pre></pre>
        <input type="text" class="uipt" name="lname" placeholder="enter Last name" required><pre></pre>
    </div>

    <div>
        <label for="mail">Mail Id</label><pre></pre>
        <input type="email" class="uipm" name="mail" placeholder="enter mail id" required><pre></pre>
    </div>

    <div>
        <label for="pwd">Password</label><pre></pre>
        <input type="password" class="uipp" name="fname" placeholder="enter password" required><pre></pre>
    </div>
    <div><button class="uregbtn" value="submit">Submit</button><pre></pre>
    <input type="reset" class="urstbtn" onclick="reset" name="reset">
    </div>

</form>
